// import other stylesheet into the main one
@import 'reset.scss';
@import 'fonts.scss';

//var colors used repeatedly
$black: #000;
$white: #fff;
$grey: #9B9B9B;

.container {
	width: 100%;
	margin: 0 auto;
}

// Section: Navbar Menu
.navbar {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0.75rem 0;
	color: $white;
  background-color: $black;
	position: fixed;
	z-index: 1;

	.wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
    height: 2rem;
    margin: 0 auto;
    position: relative;
		transition: height .5s ease-out;
		overflow: hidden;

		&.active {
			background: url('../assets/header-bg.png') no-repeat center;
			background-size: cover;

			.burger {
				mask-image: url('../assets/close.svg');
				-webkit-mask-image: url('../assets/close.svg');
			}
		}
	}

  .burger {
		position: absolute;
		right: 5%;
		top: 0;
    mask-image: url('../assets/menu.svg');
		-webkit-mask-image: url('../assets/menu.svg');
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
    background-color: $white;
		width: 2.5rem;
		height: 1.5rem;
	}

	.menu {
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		width: 100%;

		&-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
		}

		&-link {
			font-family: inherit;
			font-size: 1rem;
			font-weight: 600;
			line-height: inherit;
			border: none;
			color: $white;
			text-transform: uppercase;
      text-decoration: none;
			transition: all 0.35s ease-in-out;
		}

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
}

// Responsive - Mobile First
@media only screen and (min-width: 768px) {
	.navbar {
		.burger {
			display: none;
			opacity: 0;
			visibility: hidden;
		}

		.menu {
			opacity: 1;
			visibility: visible;
			overflow: visible;
			
			&.active {
				opacity: 0;
				visibility: hidden;
			}

			&-inner {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 2rem;
			}
		}
	}
}

//main content

.parallax-section {
	position: relative;
	height: 100vh;
	display: flex;
  justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
}

.logo-wrapper {
	text-align: center;

	img {
		width: calc((344 / 738)*100%);
	}
}

.parallax {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.article-container {
	padding: 4rem 0;
	background-color: $white;
}

.cover-img-section img {
	width: 100%;
}

.article-wrapper {
	margin: 0 3rem;
	animation: fadeEffect 3s;

	@keyframes fadeEffect {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
 	}

	p {
		text-align: justify;
		line-height: 1.4;

	}

	.article-img {
		display: none;
		position: sticky;
		top: 10%;
		height: fit-content;
	}

	&.article-wrapper-first {
		display: flex;
		
		p {
			margin-top: 1rem;
		}
	
		h4 {
			font-family: $secondaryFont;
		}
	}
}

.article-container-last {
	text-align: center;

	h1 {
		font-size: 1.5em;
		margin: 0 1rem 1.5rem;
	}

	p:first-of-type {
		margin-top: 1rem;
	}
}

// Footer
footer {
	background: url('../assets/darthvader.jpg') no-repeat center;
	height: 40vh;
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr; 
	grid-template-rows: 1fr 1fr; 
	align-items: center;

	ul {
		display: flex;
  	flex-wrap: wrap;
		font-size: .85rem;
		margin-right: 2rem;
		align-self: start;

		>li {
			flex: 50%;
			text-align: center;
			line-height: 2;
		}

		li {
			width: 100%;
		}
	}

	.footer-text {
		color: $grey;
		text-align: center;

		span {
			font-weight: 100;
		}
	}
}

.social-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;

	p {
		text-transform: uppercase;			
		color: $grey;
		font-size: .85rem;
		justify-self: center;
	}

	.social-assets {
		display: flex;
		justify-content: center;

		img:last-of-type {
			margin: 0 2rem;
		}

		.social-logo {
			mask-image: url('../assets/icon_instagram.svg');
			-webkit-mask-image: url('../assets/icon_instagram.svg');
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			background-color: $grey;
			width: 2rem;			
		}
	}
}

// Responsive - Mobile First
@media only screen and (min-width: 768px) {

	.logo-wrapper {	
		img {
			width: auto;
		}
	}

	.article-wrapper-first {
		justify-content: space-around;

		.article-description {
			width: 30vw;
		}
		.article-img {
			display: block;
			width: auto;
			float: right;
		}
	}
	
	.article-container-last {
		width: 80vw;
    margin: auto;

		.article-description {
			display: flex;

			p {
				margin-left: 1rem;
				margin-top: 0;
			}
		}
	}

	footer {
		background: url('../assets/darthvader_2x.jpg') no-repeat center;
		background-size: cover;
		grid-template-columns: repeat(2, 1fr) repeat(3, 0fr);
		grid-template-rows: repeat(2, 1fr) repeat(3, 0fr);	

		ul, .social-wrapper p{
			font-size: 1rem;
		}

		h4 {
			grid-area: 1 / 1 / 2 / 4;
		}

		ul {
			margin: 0;
			grid-area: 2 / 1 / 3 / 2;
		}

		.social-wrapper {
			grid-area: 2 / 2 / 3 / 3;
			align-self: normal;

			p {
				justify-self: end;
			}
		}
	}
}

//Animations content appearing on scroll
.content-appear-onscroll {
	opacity: 0;
}

@keyframes animOnScroll {
	from {
		opacity: 0;
	}
	to  {
		opacity: 1;
	}
}